*{
    margin: 0;
}
:root {
    --color1:#FC6600;
    --color2:#1598d4;    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 110px;
}
.menu{
    background-color: var(--color2);
    color: white;
    font-size: 22px;
    padding: 7px;
}
nav{
    background-color: var(--color2);
    padding: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 5px;
}
.slide{
    position: relative;
    text-align: center;
}
.slide .bi-caret-left{
    position: absolute;
    left: 10px;
    top: 45%;
    font-size: 2rem;
    color: white;       
}
.slide .bi-caret-right{
    position: absolute;
    right: 10px;
    top: 45%;
    font-size: 2rem;
    color: white;
}
.slide .list{
    position: absolute;
    bottom: 5%;
    font-size: 5rem;
    text-align: center;
    left: calc(50% - 40px);
}
.list-tour article{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.851);
    border-radius: 10px;
    margin: 10px;
}
.list-tour img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.list-tour p{
    padding: 10px;
}
.feedback{
    text-align: center;
}
.feedback img{
    width: 250px;
    height: 250px;
    border: 1px solid green;
    border-radius: 50%;
}
.feedback article {
    padding:70px;
}
.feedback p i{
    color: rgba(231,198,12, 0.908);
}   
.indam {
    color: orange;
    border-bottom : 0.2rem solid orange;
}
.thuvien{
    color: orange;
    border-bottom : 0.2rem solid orange;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.grid-container img{
    width: 100%;
}
.grid-container{
    padding: 10px;
}
.item6{
    grid-area: item1;
}
.item7{
    grid-area: item2;
}
.item8{
    grid-area: item3;
}
.item9{
    grid-area: item4;
}
.grid-container1 img{
    width: 100%;
}
.grid-container1{
    padding: 10px;
}
footer{
    background-color: aqua;
}
footer div{
    padding: 40px;
    justify-content: space-between;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.zalo{
    position: fixed;
    bottom: 150px;
    right: 0px;
    width: 110px;
}
.zalo :hover{
    transform: scale(1.1);
}
.messenger{
    position: fixed;
    bottom: 20px;
    right: 0px;
    width: 110px;
}
.messenger :hover{
    transform: scale(1.1);
}
.list-tour div{
    overflow: hidden;
}
.list-tour img:hover{
    transform: scale(1.2);
}
.list-tour img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
}
/* // b.HIỆU ỨNG ÁNH SÁNG CHẠY:  */
.banner {
    position: relative;
}
.banner::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.banner:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.color{
    display: flex;
    justify-content: center;
}
#c1{
    width: 15px;
    height: 15px;
    background-color: #009943;
    margin: 5px;
}
#c2{
    width: 15px;
    height: 15px;
    background-color: #e2bb10;
    margin: 5px;
}
#c3{
    width: 15px;
    height: 15px;
    background-color: #0fe3ea;
    margin: 5px;
}
/* button */
html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  /* e.Hiệu ứng hiện nút khi hover ảnh:  */
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    margin-left: 100px;
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-emphasis: center;
  }
  /* shake */
  .item1 img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
*{
    box-sizing: border-box;
}
.gallery{
    display: flex;
}
.gallery img{
    width: 100%;
}
.column-3 img{
    height: 33.33%;
    object-fit: cover;
}
.column-4 img{
    height: 25%;
    object-fit: cover;
}
.column-3 {
    flex: 50%;
    padding: 2px;
    height: 500px;
}
.column-4 {
    flex: 50%;
    padding: 2px;
    height: 500px;
}
/* Điện thoại đứng */
@media screen and (min-width:240px) {

}
/* Điện thoại ngang và Máy tính bảng dọc*/
@media screen and (min-width:768px) {
    nav{
        display: flex;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .list-tour{
        display: flex;
    }
    .feedback{
        display: flex;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        'item1 item1 item2 item3'
        'item1 item1 item4 item5';
        gap: 10px;
    }
    .column-3{
        flex: 25%;
    }
    .column-4{
        flex: 25%;
    }
    .login article{
        display: flex;
    }
    
}
/* Laptop  và máy tính bảng ngang*/
@media screen and (min-width:1024px) {
   main,header{
    margin-left: 12%;
    margin-right: 12%;
   }
   footer section{
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
   }
}

